h1{
	text-align: center;
	font-size: 80px;
}

@font-face {
	font-family: 'AlexBrush-Regular';
	src: url('font/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Chunkfive';
	src: url('font/Chunkfive.otf') format('opentype');
}

@font-face {
	font-family: 'KaushanScript-Regular';
	src: url('font/KaushanScript-Regular.otf') format('opentype');
}

h1.satu {
	font-family: AlexBrush-Regular;
}

h1.dua {
	font-family: Chunkfive;
}

h1.tiga {
	font-family: KaushanScript-Regular;
}